version: "3.8"

services:
    frontend-blue:
        image: ${CI_REGISTRY_IMAGE}:latest
        platform: linux/amd64
        container_name: frontend-blue
        ports:
            - "3001:3000"
        environment:
            - NODE_ENV=production
            - PORT=3000
            - HOSTNAME=0.0.0.0
        networks:
            - user-a-network
        restart: always

    frontend-green:
        image: ${CI_REGISTRY_IMAGE}:latest
        platform: linux/amd64
        container_name: frontend-green
        ports:
            - "3002:3000"
        environment:
            - NODE_ENV=production
            - PORT=3000
            - HOSTNAME=0.0.0.0
        networks:
            - user-a-network
        restart: always

networks:
    user-a-network:
        name: ddk_user-a-network
        driver: bridge
