@import "tailwindcss";

@font-face {
    font-family: "p-black";
    src: url("/fonts/Paperlogy-9Black.ttf");
}

@font-face {
    font-family: "p-bold";
    src: url("/fonts/Paperlogy-7Bold.ttf");
}

@font-face {
    font-family: "p-extrabold";
    src: url("/fonts/Paperlogy-8ExtraBold.ttf");
}

@font-face {
    font-family: "p-extralight";
    src: url("/fonts/Paperlogy-2ExtraLight.ttf");
}

@font-face {
    font-family: "p-light";
    src: url("/fonts/Paperlogy-3Light.ttf");
}

@font-face {
    font-family: "p-medium";
    src: url("/fonts/Paperlogy-5Medium.ttf");
}

@font-face {
    font-family: "p-regular";
    src: url("/fonts/Paperlogy-4Regular.ttf");
}

@font-face {
    font-family: "p-semibold";
    src: url("/fonts/Paperlogy-6SemiBold.ttf");
}

@font-face {
    font-family: "p-thin";
    src: url("/fonts/Paperlogy-1Thin.ttf");
}

@theme {
    --color-c-primary: #563c2f;

    --font-p-black: "p-black";
    --font-p-bold: "p-bold";
    --font-p-extrabold: "p-extrabold";
    --font-p-extralight: "p-extralight";
    --font-p-light: "p-light";
    --font-p-medium: "p-medium";
    --font-p-regular: "p-regular";
    --font-p-semibold: "p-semibold";
    --font-p-thin: "p-thin";
}
